@tailwind base;
@tailwind components;
@tailwind utilities;
.notebook-paper {
  background-color: #f8f4e5;
  background-image: linear-gradient(#e1d4bb 1px, transparent 1px);
  background-size: 100% 1.5em;  /* sets line spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.notebook-paper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ff6b6b;
}
